body {
    background-image: url(img/fusca.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 4rem;
}

.container {
    background-color: rgba(169, 169, 169, 0.671);
    color: black;
    border-radius: 10px;
    text-align: center;
}

pre {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-shadow: black 1px 2px 3px;
}